@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-div-icon {
  border: none;
  background: none;
}

/* [data-component="overlay"], */
[data-component="overlay"] *,
.fixed.inset-0.select-none.z-10 {
  z-index: 1001;
}
