{{page-title (t "application.station")}}

<Modal
  @isOpen={{true}}
  @onClose={{true}}
  @backdrop="none"
  @disableFocusTrap={{true}}
  as |m|
>
  <m.Header>Title</m.Header>
  <m.Body>
    <p>Some contents...</p>
    <p>Some contents...</p>
    <p>Some contents...</p>
  </m.Body>
  <m.Footer />
</Modal>